body {
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    font-family: Arial, sans-serif;
}

h2 {
    margin: 10px;
    font-size: 26px;
    font-weight: 500;
}

form {
    max-width: 500px;
    margin: 16px;
    padding: 48px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px 5px;
    margin: 10px;
}

button {
    width: 50%;
    margin: 10px;
    margin-left: 75px;
    padding: 10px;
    background-color: #18ca9e;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}
.error {
  color: red;
  font-size: 0.9em;
}

.success {
  color: green;
  font-weight: bold;
}
@media(max-width: 750px) {
    form {
        padding: 8px;
    }
}